/* ==========================================================================
  t-checkbox and t-radio
  ---
  Custom styling for checkboxes and radio buttons.
   ========================================================================== */

/* Shared styles */
.t-checkbox,
.t-radio {
    @apply flex
           items-center;
}

.t-checkbox input[type="checkbox"]:checked,
.t-checkbox input[type="checkbox"]:indeterminate,
.t-radio input[type="radio"]:checked {
    background-size: 100% 100%;
    @apply border-transparent
           bg-current
           bg-center
           bg-no-repeat;
}

.t-checkbox input[type="checkbox"],
.t-radio input[type="radio"] {
    @apply appearance-none
           p-0
           inline-block
           text-blue-600
           align-middle
           w-4
           h-4
           bg-white
           border
           flex-none
           border-gray-300;
}

.t-checkbox input[type="checkbox"] + span,
.t-radio input[type="radio"] + span,
.t-checkbox input[type="checkbox"] + label,
.t-radio input[type="radio"] + label {
    @apply ml-2;
}

.t-checkbox-group .t-checkbox,
.t-checkbox-group .t-radio,
.t-radio-group .t-checkbox
.t-radio-group .t-radio {
    @apply py-1;
}

.t-checkbox-group-inline,
.t-radio-group-inline {
    @apply space-x-4
           flex
           items-center;
}

.t-checkbox-large input[type="checkbox"],
.t-radio-large input[type="radio"] {
    @apply w-5
           h-5;
}

.t-checkbox-group .t-checkbox-large,
.t-radio-group .t-radio-large {
  @apply py-1.5;
}

/* Checkbox specific */
.t-checkbox input[type="checkbox"] {
    @apply rounded;
}

.t-checkbox input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
}

.t-checkbox input[type="checkbox"]:indeterminate {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' stroke='white' stroke-width='2' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='4' y1='8' x2='12' y2='8'/%3E%3C/svg%3E");
}

/* Radio specific */
.t-radio input[type="radio"] {
    @apply rounded-full;
}

.t-radio input[type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}
