/* ==========================================================================
   t-tabs
   ---
   Top navigation (usually inside of a toolbar)
   ========================================================================== */

.t-tabs ul {
    @apply flex
           space-x-4;
}

.t-tab {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    @apply px-1
           flex
           items-center
           border-b-2
           border-transparent
           font-medium
           -mb-px;
}

.t-tab-line-b {
    @apply border-b
           border-gray-200
}

.t-tab-secondary {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    @apply px-3
           flex
           text-gray-500
           font-medium
           items-center
           bg-gray-100
           hover_bg-gray-200
           border-b
           border-r
}

.t-tab-box-secondary {
    @apply border-t
           border-gray-200
}

.t-tab[disabled] {
    @apply from-gray-100
           to-gray-100
           text-gray-200
           opacity-50
           border-gray-200
           pointer-events-none;
}

.t-tab-secondary[disabled] {
    @apply from-gray-100
           to-gray-100
           text-gray-200
           opacity-80
           border-gray-200
           pointer-events-none;
}

/* purgecss start ignore */
.t-tab.t-tab-active,
.t-tab[aria-selected="true"] {
    @apply border-blue-500
           text-blue-600
           whitespace-nowrap;
}

.t-tab-secondary.t-tab-active,
.t-tab-secondary[aria-selected="true"] {
    @apply border-b-transparent
           bg-transparent
           text-gray-700
           whitespace-nowrap;
}

.t-tab.t-tab-default,
.t-tab[aria-selected="false"] {
    @apply border-transparent
           text-gray-500
           hover_text-gray-700
           hover_border-gray-300;
}
/* purgecss end ignore */
